# /etc/systemd/system/graylog.service

[Unit]
Description=Graylog Docker Compose
Requires=docker.service containerd.service
After=docker.service containerd.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/graylog/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /opt/graylog/docker-compose.yml down
WorkingDirectory=/opt/graylog

[Install]
WantedBy=multi-user.target